.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

body {
  display: flex;
  flex-direction: column;
}

.trybewarts-login {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #efefef;
}

#evaluation-form {
  flex-direction: column;
  display: flex;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

#label-family {
  display: flex;
  flex-direction: column;
}

#end-family {
  display: flex;
  flex-direction: column;
}

#none {
  display: none;
}

.form-data {
  flex-direction: column;
  display: flex;
  width: 675px;
}

.trybewarts-header-logo {
  width: 70px;
}

#trybewarts-header-title {
  color: white;
  font-size: 50px;
}

#email,
#senha {
  margin-right: 20px;
  height: 20px;
  width: 160px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

#entrar {
  width: 120px;
  height: 40px;
  border-radius: 9px;
  font-size: 15px;
  font-weight: bold;
  background-color: #4e2c83;
  color: white;
}

footer {
  background-color: #3c404a;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: #ececec;
  font-size: 20px;
}
